replicaCount: 1

image:
  repository: ghcr.io/nimanisha/backend-app 
  tag: latest 
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080

serviceAccount:
  create: true
  name: "backend-sa"

nameOverride: ""
fullnameOverride: ""