replicaCount: 1

image:
  repository: ghcr.io/nimanisha/backend-app 
  tag: latest 
  pullPolicy: Always
  
imagePullSecrets:
  - name: ghcr-login
service:
  type: ClusterIP
  port: 8080

serviceAccount:
  create: true
  name: "backend-sa"

nameOverride: ""
fullnameOverride: ""