name: Release Charts

on:
  push:
    branches:
      - main 
    paths:
      - 'frontend/**'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GH_PAT }}" | helm registry login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Package and Push OCI
        run: |
          helm package frontend/frontend-chart
          helm push frontend-chart-*.tgz oci://ghcr.io/${{ github.repository_owner }}/charts

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        with:
          charts_dir: frontend
        env:
          CR_TOKEN: "${{ secrets.GH_PAT }}"