name: Release Charts

on:
  push:
    branches: [ "main" ] 
    paths:
      - 'applications/Frontend/**'
      - '.github/workflows/Frontend-docker.yml'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GH_PAT }}" | helm registry login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Package and Push OCI
        run: |
          BASE_VERSION=$(grep '^version:' applications/Frontend/frontend-chart/Chart.yaml | awk '{print $2}' | tr -d '"' | tr -d "'")       
          NEW_VERSION="${BASE_VERSION}.${{ github.run_number }}"
          echo "Building version: $NEW_VERSION"

          LOWER_OWNER=$(echo "${{ github.repository_owner }}" | tr '[A-Z]' '[a-z]')
          helm package applications/Frontend/frontend-chart --version $NEW_VERSION
          helm push frontend-chart-$NEW_VERSION.tgz oci://ghcr.io/$LOWER_OWNER/charts